{% extends "template.html" %}

{% block changelogactive %} "active" {% endblock %}


{% block span %}
      <div class="container">

            <div class="hero-unit">

                <h1>Changelog for Disce {{ version }}</h1>

                <p> </p>

                <p> Version alpha 0.3: Changelog added </p>

                <p> </p>

                <p> Version alpha 0.4: Added Wikipedia intergration </p>

                <p> </p>

                <p> Version alpha 0.5: Disce now gets information from the Disce API </p>

                <p> </p>

      <!--          <p> Version {{ version }}: Disce API is -->

            </div>

        </div>
{% endblock %}
