{% extends "template.html" %}

{% block indexactive %} "active" {% endblock %}

{% block span %}

  <div class="container-fluid mainpagecentre">

        <div class="row-fluid">

            <div class="span12">

                    <center> <a href=""> <img src="{{ url_for('static', filename='img/logo_64.png') }}" title="Disce"> </a> </center>

                    <center>  <b> Welcome to Disce version {{ version }} </b> </center>

                    <form action="/" method="POST">

                        <center> <div> <input type="text" name="searchQuery" placeholder="Search here" autocomplete="off" list="suggestions" required> </div> </center>

                        <center> <div> <input type="submit" value="Search" class="btn"> </div> </center>

                    </form>

            </div>

        </div>

    </div>

</div>

    <datalist id="suggestions">

      <option value="Coming soon...">

    </datalist>
{% endblock %}
