{% extends "template.html" %}

{% block indexactive %} "active" {% endblock %}

{% block span %}

  <div class="container mainpagecentre">

        <div class="row">

            <center> <a href=""> <img src="{{ url_for('static', filename='img/logo_64.png') }}" title="Disce"> </a> </center>

            <center>  <b> Welcome to Disce version {{ version }} </b> </center>


            {{ form.hidden_tag() }}


            <form action="{{ url_for('results') }}" method="GET">

                <center> <div> {{ form.searchQuery(class_="input-xlarge", placeholder="Search here") }} </div> </center>

                <center> <div> <input type="submit" value="Search" class="btn"> </div> </center>

            </form>

        </div>

  </div>


    <datalist id="suggestions">

      <option value="Coming soon...">

    </datalist>
{% endblock %}