{% extends "template.html" %}

{% block titlesuffix %} Search {% endblock %}

{% block searchactive %} "active" {% endblock %}

{% block span %}

      <div class="container">

            <div class="hero-unit">

                <h1>Disce Search</h1>

                {{ form.hidden_tag() }}


                <h2>

                    <form action="{{ url_for('results') }}" method="GET">


                            <center> {{  form.searchQuery(placeholder="Search here", class_="input-block-level") }} </center>

                        <center> <input type="submit" value="Search" class="btn" images="true">  </center>

                    </form>

                </h2>

            </div>

        </div>

{% endblock %}

{%  block bottomextras %} <small> You got here by typing in the URL didn't you? Do not lie to me!</small> {% endblock %}