{% extends "template.html" %}

{% block titlesuffix %} Search {% endblock %}

{% block searchactive %} "active" {% endblock %}

{% block span %}

      <div class="container">

            <div class="hero-unit">

                <h1>Disce Search</h1>

                <h2>


                     <form action="/search/" method="GET" onsubmit="return false;">

                        <center> <div> <input type="search" name="q" placeholder="Search here" class="input-block-level" required/> </div> </center>

                        <center> <div> <input type="submit" value="Search" class="btn"  onclick="window.location.href=this.form.action + this.form.q.value;"> </div> </center>

                    </form>

                </h2>

            </div>

        </div>

{% endblock %}

{%  block bottomextras %} <small> You got here by typing in the URL didn't you? Do not lie to me!</small> {% endblock %}