{% extends "template.html" %}

{% block titlesuffix %} Search {% endblock %}

{% block searchactive %} "active" {% endblock %}

{% block span %}

      <div class="container">

            <div class="hero-unit">

		<h1 class="center">Disce Search</h1>

                <h2>


                     <form action="/search/" method="GET" onsubmit="return false;">

                        <div> <input type="search" name="searchQuery" placeholder="Search here" class="center form-control" required/> </div>

			<center> <div> <input type="submit" value="Search" style="text-align:center;" class="btn"  onclick="window.location.href=this.form.action + this.form.searchQuery.value;"> </div> <center> <!-- CENTER WHY YOU NO WORK?!?! -->

                    </form>

                </h2>

            </div>

        </div>

{% endblock %}

{%  block bottomextras %} <small> You got here by typing in the URL didn't you? Do not lie to me!</small> {% endblock %}
