<!DOCTYPE html>

<html lang="en">

    <head>

        <title>{% block title %}  {%endblock %} Disce {% block titlesuffix %} {% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_64.png') }}" type="image/png">

        <!-- Bootstrap -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" /> -->

        {% block customcss %} {% endblock %}

        <style>

        body {
            padding-top: 60px; /* to make the container go all the way to the bottom of the top bar */
        }

        .mainpagecentre {

            position: fixed;
            left: 50%;
            top: 40%;
            height: 400px;
            width: 600px;
            margin-top: -200px;
            margin-left: -300px;

        }

        </style>

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-inner">

                <div class="container-fluid">

                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                        <span class="icon-bar"></span>

                    </button>

                    <a class="brand" href="/">Disce</a>

                    <div class="nav-collapse collapse">

                        <ul class="nav">

                            <li class={% block indexactive %} {% endblock %}>

                                <a href="/"> Home </a>

                            </li>

                            <li class={% block changelogactive %} {% endblock %}>

                                <a href="/changelog"> Changelog </a>

                            </li>

                        </ul>

                    </div><!--/ nav collapse -->

                </div>

            </div>

        </div>

        {% block span %}

        {% endblock %}

        <div class="navbar navbar-fixed-bottom">

            <center> <a href="/">Disce</a> version {{ version }} by <a href="https://github.com/Willifme">Willifme</a>.

        </div>

        {% block addscript %}

        {% endblock %}

        <script src="http://code.jquery.com/jquery-latest.js"> </script>

  <!--      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"> </script> -->

            <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    </body>

</html>
