<!DOCTYPE html>

<html lang="en">

    <head>

        <title>{% block title %}  {%endblock %} Disce {% block titlesuffix %} {% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_64.png') }}" type="image/png">

        <!-- Bootstrap -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" />


        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='flatstrap/bootstrap/css/bootstrap.css') }}" />

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='flatstrap/css/flat-ui.css') }}" />-->

        <!-- Latest compiled and minified CSS -->
        
        <link href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/flatly/bootstrap.min.css" rel="stylesheet">

        {% block customcss %} {% endblock %}

        <style>

        body {
            padding-top: 70px; /* to make the container go all the way to the bottom of the top bar */
           
        }

        .mainpagecentre {

            position: fixed;
            left: 50%;
            top: 40%;
            height: 400px;
            width: 600px;
            margin-top: -200px;
            margin-left: -300px;

        }

	.center {
	
	    text-align: center;

	}

        </style>

    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

			<div class="navbar-header">
			
				<span class="navbar-brand" href="/"> Disce </span>
			
			
			</div>

			<ul class="nav navbar-nav">

				<li class={% block indexactive %} {% endblock %}>

                                	<a href="/"> Home </a>

                            	</li>

                            	<li class={% block changelogactive %} {% endblock %}>

                                	<a href="/changelog"> Changelog </a>

                           	 </li>

                            	<li class={%  block homeworkactive %} {%  endblock %}>

                                	<a href="/homework"> Homework </a>

                            	</li>

			</ul>

               <!--     <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button>-->

                       <!-- <ul class="nav">

                            <li>

                                <a href="/">

                                    Disce

                                </a>

                            <li>

			                            </li>

                        </ul>-->

        </nav>

        {% block span %}

        {% endblock %}

        <div class="navbar navbar-fixed-bottom">

            <center> <a href="/">Disce</a> version {{ version }} by <a href="https://github.com/Willifme">Willifme.</a> {% block bottomextras %} {% endblock %} </center>

        </div>

        {% block addscript %}

        {% endblock %}

        <script src="http://code.jquery.com/jquery-latest.js"> </script>

   <!--     <script src="{{ url_for('static', filename='flatstrap/js/bootstrap.min.js') }}"> </script>-->
   
   		<!-- Latest compiled and minified JavaScript -->
   
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>

</html>
